<div class="two"><h1 class="one">HISTORY OF STATES IN INDIA</h1>
    <hr >
    <h4 class="wiki">Wikipedia</h4>
    <div class="kar"><strong><u>States</u>
        Bombay State was split into the linguistic states of Gujarat and Maharashtra on 1 May 1960 by the Bombay Reorganisation Act.[22] Nagaland was formed on 1 December 1963.[23] The Punjab Reorganisation Act, 1966 resulted in the creation of Haryana on 1 November and the transfer of the northern districts of Punjab to Himachal Pradesh.[24] The act also designated Chandigarh as a union territory and the shared capital of Punjab and Haryana.[25][26]

Madras State was renamed Tamil Nadu in 1969. North-eastern states of Manipur, Meghalaya and Tripura were formed on 21 January 1972.[27] Mysore State was renamed as Karnataka in 1973. On 16 May 1975, Sikkim became the 22nd state of the Indian Union and the state's monarchy was abolished.[28] In 1987, Arunachal Pradesh and Mizoram became states on 20 February, followed by Goa on 30 May, while erstwhile union territory of Goa, Daman and Diu's northern exclaves Damão and Diu became separate union territory as Daman and Diu.[29]

In November 2000, three new states were created; namely, Chhattisgarh from eastern Madhya Pradesh, Uttaranchal from northwest Uttar Pradesh (renamed Uttarakhand in 2007) and Jharkhand from southern districts of Bihar with the enforcement of Madhya Pradesh Reorganisation Act, 2000, Uttar Pradesh Reorganisation Act, 2000 and Bihar Reorganisation Act, 2000 respectively.[30][31][32][33] Orissa was renamed as Odisha and Pondicherry was renamed as Puducherry in 2011. Telangana was created on 2 June 2014 as ten former districts of north-western Andhra Pradesh.[34][35]

In August 2019, the Parliament of India passed the Jammu and Kashmir Reorganisation Act, 2019, which contains provisions to reorganise the state of Jammu and Kashmir into two union territories; Jammu and Kashmir and Ladakh, effective from 31 October 2019.[36]

In November 2019, the Government of India introduced legislation to merge the union territories of Daman and Diu and Dadra and Nagar Haveli into a single union territory to be known as Dadra and Nagar Haveli and Daman and Diu, effective from 26 January 2020.
    </strong></div></div>
    <router-outlet></router-outlet>