<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">INDIA</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">Link </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">About </a>
      </li>
      <li class="nav-item" id="contact">
        <a class="nav-link" href="#">Contact us</a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" >Search</button>
    </form>
  </div>
</nav>

<div class="grid">
  <div class="router"><a [routerLink]="['states']" style="color:purple;"><h2>STATES</h2></a><br>
<a [routerLink]="['/andhra']" >ANDHRA</a> <br><br>
    <a [routerLink]="['/delhi']">DELHI</a><br><br>
  <a [routerLink]="['/gujarat']">GUJARAT</a><br><br>
  <a [routerLink]="['/karnataka']">KARNATAKA</a><br><br>
  <a [routerLink]="['/kerala']">KERALA</a><br><br>
  <a [routerLink]="['/punjab']">PUNJAB</a><br><br>
  <a [routerLink]="['/rajasthan']">RAJASTHAN</a>
</div>




<router-outlet></router-outlet>
<footer class="bg-primary text-white">
  <div class="container py-3 ">
    <div class="row">
<div class="col-lg-3"> 
  <h4>About Us</h4>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam reiciendis numquam corporis velit facilis animi fugit harum ipsam, itaque recusandae id, labore at.</p>
</div>   
<div class="col-lg-3">
<h4>Useful links</h4> 
<ul class="list-unstyled">
  <li><a href="">Home</a></li>
  <li><a href="">About</a></li>
  <li><a href="">Services</a></li>
  <li><a href="">Contact</a></li>
</ul> 
</div> 
<div class="col-lg-3">
<h4>Contact Us</h4>

  <address>SCo 3456, Sector 34A, Bangalore-560073</address>
  <strong>Phone:</strong><br>
  <strong>Email:</strong><a href="">Sharathgowda@gmail.com</a> 
 
</div> 
<div class="col-lg-3">
<h4>Newsletters</h4>
<p>Enter your email address</p>
<form action="">
  <div class="input-group">
    <input type="email" name="" id="" class="form-control">
    <div class="input-group-append">
      <button class="btn btn-secondary">Subscribe</button>
    </div>
  </div>
</form>  
</div>    
    </div>
  </div>
  <div class="container-fluid text-center bg-secondary">
&copy;2020 .All rights are reserved

  </div>

</footer>  
 
  
